.container {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 15rem;
  width: 100%;
}

.input {
  width: 100%;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  line-height: 1.2;
  font-size: 1rem;
  font-weight: inherit;
  border-radius: 0.1rem;
  font-family: inherit;
  padding: 0.1rem 0.2rem;
}

.placeholder {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: transform 0.5s ease;
  left: 0.2rem;
  display: inline-block;
  cursor: text;
}

.placeholder::first-letter {
  text-transform: uppercase;
}

.placeholderActive {
  transform: translateY(-2rem);
  transition: transform 0.5s ease;
}

input::placeholder {
  opacity: 0;
}

.input:focus ~ .placeholder {
  transform: translateY(-2rem);
  transition: transform 0.5s ease;
  cursor: auto;
}

.deleteAction,
.revealAction {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

.revealAction {
  svg {
    height: 0.8rem;
    width: 0.8rem;
  }
}

.revealActionActive {
  svg {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

.deleteAction {
  svg {
    height: 0.6rem;
    width: 0.6rem;
    transform: rotate(45deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
}
.deleteActionActive {
  svg {
    opacity: 1;
    transform: rotate(0deg);
  }
}
