.select {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: inherit;
  line-height: 1.2;
  background: var(--background-color);
  color: var(--text-color);
  position: relative;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.1rem;
  max-width: 15rem;
  width: 100%;
  padding: 0.1rem 0.2rem;
  cursor: pointer;
  text-transform: uppercase;
  svg {
    margin-left: 10px;
    width: 0.8rem;
    height: 0.8rem;
  }
}

.selectDisabled {
  opacity: 0.3;
  cursor: auto;
}

.angle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2rem;
}

.angleEnter {
  svg {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }
}

.angleEnterActive {
  svg {
    transform: rotate(-180deg);
  }
}

.angleEnterDone {
  svg {
    transform: rotate(-180deg);
  }
}

.angleExit {
  svg {
    transform: rotate(-180deg);
  }
}

.angleExitActive {
  svg {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }
}

.selectList {
  list-style: none;
  position: absolute;
  top: 2rem;
  left: -1px;
  right: -1px;
  border: 1px solid black;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
  border-radius: 0.1rem;
  z-index: 10;
}

.selectListEnter {
  transform: scaleY(0);
  .selectOption {
    span {
      transform: translateX(20px);
      opacity: 0;
    }
  }
}

.selectListEnterActive {
  transform: scaleY(1);
  .selectOption {
    span {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

.selectListEnterDone {
  transform: scaleY(1);
  .selectOption {
    span {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

.selectListExit {
  transform: scaleY(1);
  .selectOption {
    span {
      transform: translateX(20px);
      opacity: 0;
    }
  }
}

.selectListExitActive {
  transform: scaleY(0);
  .selectOption {
    span {
      transform: translateX(20px);
      opacity: 0;
    }
  }
}

.selectOption {
  display: inline-block;
  width: 100%;
  padding: 0.2rem;
  cursor: pointer;
  transform: translateX(0px);
  transition: transform 0.5s ease;
  span {
    display: block;
    transform: translateX(20px) scaleY(0);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
}

.selectOption:hover {
  background: var(--background-color-hover);
  transition: background 0.5s ease;
  span {
    transform: translateX(5px);
    transition: transform 0.5s ease;
  }
}
